Source: w3m
Section: text
Priority: optional
Maintainer: Fumitoshi UKAI <ukai@debian.or.jp>
Build-Depends: libgc5-dev, libncurses5-dev, libgpmg1-dev, debhelper, awk
Standards-Version: 3.1.1

Package: w3m
Architecture: any
Depends: ${shlibs:Depends}
Provides: www-browser
Suggests: w3m-ssl (>= ${Source-Version}), mime-support, menu (>> 1.5), emacsen-common
Description: WWW browsable pager with excellent tables/frames support
 w3m is a text-based World Wide Web browser with IPv6 support. 
 It features excellent support for tables and frames. It can be used 
 as a standalone file pager, too.
 .
  * You can follow links and/or view images in HTML.
  * Internet message prewview mode, you can browse HTML mail.
  * You can follow links in plain text if it includes URL forms.
 .
 For more information, 
 see http://ei5nazha.yz.yamagata-u.ac.jp/~aito/w3m/eng/index.html
